.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
}

.wheelWrapper {
  position: relative;
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.message {
  font-size: 1rem;
  color: #333333;
  text-align: center;
}
.levelMessage {
  position: absolute;    
  top: -50px;            
  left: 50%;             
  transform: translateX(-50%);
  background-color: #f39c12;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

